<app-layout>
  <div class="login-container">
    <h2>Login</h2>
    <div>
      <form class="flex mt-5" (ngSubmit)="signIn()">
        <div class="flex-column p-2">
          <p-floatLabel>
            <input
              pInputText
              type="text"
              id="username"
              name="username"
              [(ngModel)]="username"
              required
              autocomplete="off"
            />
            <label for="username">Usuário</label>
          </p-floatLabel>
        </div>

        <div class="flex-column p-2">
          <p-floatLabel>
            <input
              pInputText
              type="password"
              id="password"
              name="password"
              [(ngModel)]="password"
              required
              autocomplete="off"
            />
            <label for="password">Senha</label>
          </p-floatLabel>
        </div>

        <div class="flex-column p-2">
          <p-button
            id="btn-entrar"
            type="submit"
            icon="pi pi-sign-in"
            label="Entrar"
            [disabled]="!username || !password"
          ></p-button>
        </div>
      </form>
    </div>
    <div class="flex">
      <div class="flex-column p-2">
        <a
          [id]="'link-cadastro'"
          [routerLink]="'/cadastro'"
          class="no-underline"
        >
          <small> Não tem conta? Cadastre-se </small>
        </a>
      </div>
    </div>
  </div>
</app-layout>
